<header>
    <nav class="nav">
      <li class="nav-item">
        <img src="./assets/images/logo_amet.jpeg" alt="Casa Amet" width="75" height="75">
      </li>
      <li class="nav-item alignVertically">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item alignVertically">
        <a class="nav-link" href="about-us">Acerca de Nosotros</a>
      </li>
      <li class="nav-item alignVertically">
        <a href="login" class="nav-link">Login</a>
      </li><li class="nav-item alignVertically">
        <a href="register" class="nav-link">Regístrate</a>
      </li>
    </nav>
</header>
