@import '../../../../styles/sass/variables';
@import '../../../../styles/sass/mixins';

.navBox {
    box-shadow: 0em .25em 8em $white-color;
}

* {
    @include openSans-font;
}

nav {
    background-color: $navbar-color;
    border-radius: .25em;
    padding: 0;
}

.nav-item:hover {
    background-color: $background;
    border-radius: .25em;
}

li a{
    height: auto;
    color: $white-color;
}

li a:hover{
    color: $primary-color;
    font-weight: bold;
}