@import '../../../../styles/sass/variables';

.navBox {
    box-shadow: 0px 10px;
}

nav {
    background-color: $navbar-color;
    border-radius: .25em;
    padding: 0;
}


li a{
    height: auto;
    color: $white-color;
}