<app-header></app-header>
<div class="grid">
    <router-outlet></router-outlet>
</div>
<footer class="grid">
    <div class="grid-row">
      <div class="col-6 col-m-12">
        <span class="grid-row">Powered By <a href="https://angular.io/"><i class="fab fa-angular"></i></a>  & <a href="https://getbootstrap.com/"><i class="fab fa-bootstrap"></i></a></span>
      </div>
      <div class="col-6 col-m-12">
        <span class="grid-row">Desarrollado por Santiago Jacobus</span>
      </div>
    </div>
</footer>
