<div class="grid">
  <div class="grid-row">
    <img src="./assets/images/logo_amet.jpg" alt="Casa Amet Logo"
      class="col-6 col-d-5 col-l-4 col-m-12 col-t-12 logo-img">
    <div class="grid col-6 col-m-12 col-t-12">
      <div class="grid-row">
        <h1 class="col-12 col-m-12 col-t-12">Casa Amet</h1>
      </div>
      <div class="grid-row">
        <h3 class="col-12 col-m-12 col-t-12">Cambiemos el mundo, un platillo a la vez</h3>
      </div>
    </div>
  </div>
  <hr>
  <div class="grid-row">
    <div class="grid col-6 col-d-5 col-l-4 col-m-12 col-t-12 right-aligned">
      <div class="grid-row">
        <h3 class="col-12 right-aligned">Te ayudamos a reducir tu consumo de carne</h3>
      </div>
      <div class="grid-row">
        <p class="col-12"><b>Con</b> nuestra cocina basada en plantas, podrás reducir tu consumo de carne
          comiendo platillo deliciosos y, al mismo tiempo, ayudar al planeta.</p>
      </div>
    </div>
    <img src="./assets/images/filete_de_pescado.jpg" alt="No-carne Asada" class="col-6 col-m-12 col-t-12">
  </div>
  <hr>
  <div class="grid-row">
    <img src="./assets/images/carne_asada.jpg" alt="No-carne Asada" class="col-6 col-m-12 col-t-12">
    <div class="grid col-6 col-m-12 col-t-12">
      <div class="col-12 left-aligned">
        <h3>Buscamos generar un gran impacto desde las más pequeñas acciones</h3>
      </div>
      <div class="col-12 left-aligned">
        <p><b>Por</b> lo que compramos en negocios locales, usamos contenedores
          reutilizables y retornables, cocinamos sin productos de origen animal, y buscamos reducir nuestros residuos al
          momento de cocinar y servir.</p>
      </div>
    </div>
  </div>
</div>
