<div class="grid">
  <div class="grid-row">
    <h1 class='col-12'>Casa Amet</h1>

  </div>
  <div class="grid-row">
    <img src="./assets/images/logo_amet.jpeg" alt="Casa Amet Logo" class="col-4 col-d-3 col-l-4 col-t-6 col-m-12">
    <div class="grid col-8 col-t-6 col-m-12">
        <div class="grid-row">
            <h3 class="col-12">Platillos 100% aptos para veganos</h3>
        </div>
        <div class="grid-row">
            <p class="col-12">{{description}}</p>
        </div>
    </div>
  </div>
</div>
