<div class="grid">
  <div class="grid-row">
    <img src="./assets/images/logo_amet.jpg" alt="Casa Amet Logo"
      class="col-6 col-d-5 col-l-4 col-m-12 col-t-12 logo-img">
    <div class="grid col-6 col-m-12 col-t-12">
      <div class="grid-row">
        <h1 class="col-12 col-m-12 col-t-12">Casa Amet</h1>
      </div>
      <div class="grid-row">
        <h3 class="col-12 col-m-12 col-t-12">Cambiemos el mundo, un platillo a la vez</h3>
      </div>
    </div>
  </div>
  <hr>
  <div class="grid-row">
    <div class="grid col-6 col-d-5 col-l-4 col-m-12 col-t-12 right-aligned">
      <div class="grid-row">
        <h3 class="col-12 right-aligned">Te ayudamos a reducir tu consumo de carne</h3>
      </div>
      <div class="grid-row">
        <p class="col-12 right-aligned">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit hic iure magni
          esse deserunt maxime</p>
      </div>
    </div>
    <img src="./assets/images/filete_de_pescado.jpg" alt="No-carne Asada" class="col-6 col-m-12 col-t-12">
  </div>
  <hr>
  <div class="grid-row">
    <img src="./assets/images/carne_asada.jpg" alt="No-carne Asada" class="col-6 col-m-12 col-t-12">
    <div class="grid col-6 col-m-12 col-t-12">
      <div class="col-12 left-aligned">
        <h3>Lorem Ipsum</h3>
      </div>
      <div class="col-12 left-aligned">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cumque temporibus architecto corrupti!</p>
      </div>
    </div>
  </div>
</div>
