@import '../../../styles/sass/variables';
@import '../../../styles/sass/mixins';

.modal-body .grid {
    background-color: white;
}

img {
    border-radius: 50%;
    text-align: right;
}


label {
    text-align: right;
}

table {
    background-color: $white-color;
}

.table-wrapper {
    max-height: 50em;
    overflow: auto;
    display:inline-block;
}

@each $device, $pixels in $devices {
    @media (max-width: $pixels) {
        @if $pixels > 480px {
            .grid-row {
                display: flex;
            }
        } @else {
            .grid-row {
                display: initial;
            }
        }
    }
}

[class*='col-'] .grid {
    width: 100%;
}