<div class="grid">
  <div class="grid-row">
    <div class="col-s-12">
      <h1>Tu perfil</h1>
    </div>
  </div>
  <div class="grid-row">
    <div class="col-s-6">
      <div class="grid">
        <div class="grid-row">
          <img src="{{user.img}}" alt="Foto de Perfil" class="col-s-4" *ngIf="user.img">
          <div class="col-s-8">
            <div class="grid">
              <div class="grid-row">
                <div class="col-12">
                  <h4>{{user.name}}</h4>
                </div>
              </div>
              <div class="grid-row">
                <div class="col-12">
                  <p>{{user.email}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-row">

        </div>
      </div>
    </div>
    <div class="col-s-6">
      <div class="grid">
        <div class="grid-row">
          <div class="col-s-12">
            <h3>Direcciones:</h3>
          </div>
        </div>
        <div class="grid-row" *ngIf="user.addresses else noAddresses">
          <div class="col-s-12 grid">
            <div class="grid-row" *ngFor="let userAddress of user.addresses; let i = index" [attr.data-index]="i">
              <div class="col-s-8">
                <p #addressToDelete><b>{{i + 1}}.</b> {{userAddress}}</p>
              </div>
              <div class="col-s-2">
                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteAddress" (click)="deleteAddress(userAddress)"><i class="fas fa-trash-alt" ></i></button>
              </div>
              <div class="col-s-2">
                <button class="btn btn-primary" data-toggle="modal" data-target="#editAddress" (click)="editAddress(userAddress)"><i class="fas fa-edit"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-row">
          <div class="col-s-12">
            <button class="btn btn-success" data-toggle="modal" data-target="#addAddress">Agrega una Dirección!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noAddresses>
  <div class="grid-row">
    <div class="col-s-12">
      <p><b>Parece que no tienes ninguna Dirección</b></p>
    </div>
  </div>
</ng-template>


<div class="modal fade" id="addAddress" tabindex="-1" aria-labelledby="addAddress" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAddress">Añade una Dirección</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="addAddress()">
        <div class="modal-body">
          <div class="grid">
            <div class="grid-row">
              <div class="col-s-6">
                <label for="addressLine1">Dirección renglón #1:</label>
              </div>
              <div class="col-s-6">
                <input type="text" name="addressLine1" id="addressLine1" placeholder="Dirección #1" [(ngModel)]="address.dir1" class="form-control">
              </div>
            </div>
            <div class="grid-row">
              <div class="col-s-6">
                <label for="addressLine1">Dirección renglón #2:</label>
              </div>
              <div class="col-s-6">
                <input type="text" name="addressLine2" id="addressLine1" placeholder="Dirección #2" [(ngModel)]="address.dir2" class="form-control">
              </div>
            </div>
            <div class="grid-row">
              <div class="col-s-6">
                <label for="addressLine1">Código Postal:</label>
              </div>
              <div class="col-s-6">
                <input type="text" name="zipCode" id="zipCode" placeholder="Código Postal" [(ngModel)]="address.zipCode" class="form-control">
              </div>
            </div>
            <div class="grid-row">
              <div class="col-s-6">
                <label for="addressLine1">Ciudad:</label>
              </div>
              <div class="col-s-6">
                <input type="text" name="city" id="city" placeholder="Ciudad" [(ngModel)]="address.city" class="form-control">
              </div>
            </div>
            <div class="grid-row">
              <div class="col-s-6">
                <label for="addressLine1">Estado:</label>
              </div>
              <div class="col-s-6">
                <select id="states" name="states" placeholder="Elige el estado" class="form-control" [(ngModel)]="address.state">
                    <option class="form-control" value="{{state.name}}" name="state" *ngFor="let state of states" >{{state.name}}</option>
                </select>
              </div>
            </div>
            <div class="grid-row">
              <div class="col-s-6"><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button></div>
              <div class="col-s-6"><button class="btn btn-primary">Guardar</button></div>
            </div>
          </div>
        </div>
    </form>
    </div>
  </div>
</div>