@import '../../../styles/sass/variables';
@import '../../../styles/sass/mixins';

.modal-body .grid {
    background-color: white;
}


label {
    text-align: right;
}

table {
    background-color: $white-color;
}

.table-wrapper {
    max-height: 50em;
    overflow: auto;
    display:inline-block;
}