<div class="grid">
  <div class="grid-row">
    <div class="col-9">
      <div class="grid">
        <div class="grid-row">
          <h3 class="col-12">Inicia Sesión</h3>
        </div>
        <div class="grid-row">
          <label for="correo" class="col-6">Correo:</label>
          <input type="text" name="correo" id="correo" placeholder="Correo" class="col-6">
        </div>
        <div class="grid-row">
            <label for="password" class="col-6">Contraseña:</label>
            <input type="password" name="password" id="password" placeholder="Contraseña" class="col-6">
        </div>
      </div>
    </div>
    <hr class="verticalHr">
    <div class="col-3">
        <div class="grid">
            <div class="grid-row">
                <h3 class="col-12">Regístrate</h3>
            </div>
            <div class="grid-row">
                <p>¿No tienes cuenta?</p>
            </div>
            <div class="grid-row">
                <a href="/register">¡Regístrate!</a>
            </div>
        </div>
    </div>
  </div>
</div>
