<div class="grid">
    <div class="grid-row">
        <h1 class="col-d-12">Amet es:</h1>
    </div>
    <div class="grid-row">
        <div class="grid col-d-9 col-m-12">
            <div class="grid-row">
                <p class="col-d-12"><b>Un</b> proyecto que inició por nuestras ganas de ayudar al mundo desde nuestra cocina. Cuando buscamos comer menos carne para generar un impacto positivo, nos dimos cuenta de que a veces es difícil encontrar opciones para hacer esta transición.</p>
            </div>
            <div class="grid-row">
                <p class="col-d-12"><b>Fue</b> así como comenzamos a investigar y transformar platillos deliciosos con carne a platillos deliciosos basados en plantas. En Amet veganizamos tu antojo y preparamos comida apta para paladares veganos y no veganos.</p>
            </div>
        </div>
        <img src="./assets/images/pollo_qin.jpg" alt="No-pollo Qin" class="col-d-3 col-m-12">
    </div>
    <div class="grid-row">
        <hr class="col-d-12">
    </div>
    <div class="grid-row">
        <h1 class="col-d-12">El Equipo Amet</h1>
    </div>
    <div class="grid-row">
        <img src="" alt="Equipo Amet" class="col-d-12">
    </div>
</div>