<div class="grid">
    <div class="grid-row">
        <h1 class="col-s-12 col-d-12">Amet es:</h1>
    </div>
    <div class="grid-row">
        <div class="grid col-s-8 col-d-8 col-l-7 col-t-12 col-m-12">
            <div class="grid-row">
                <p class="col-s-12 col-d-12 col-m-12"><b>Un</b> proyecto que inició por nuestras ganas de ayudar al mundo desde nuestra cocina. Cuando buscamos comer menos carne para generar un impacto positivo, nos dimos cuenta de que a veces es difícil encontrar opciones para hacer esta transición.</p>
            </div>
            <div class="grid-row">
                <p class="col-s-12 col-d-12 col-m-12"><b>Fue</b> así como comenzamos a investigar y transformar platillos deliciosos con carne a platillos deliciosos basados en plantas. En Amet veganizamos tu antojo y preparamos comida apta para paladares veganos y no veganos.</p>
            </div>
        </div>
        <div class="col-s-4 col-d-4 col-l-5 col-t-12 col-m-12">
            <img src="./assets/images/pollo_qin.jpg" alt="No-pollo Qin" class="food-img" width="225" height="225">
        </div>
    </div>
    <div class="grid-row">
        <hr>
    </div>
    <div class="grid-row">
        <div class="grid col-s-5 col-d-5 col-m-12">
            <div class="grid-row">
                <h1 class="col-s-12 col-d-12">El Equipo Amet</h1>
            </div>
            <div class="grid-row">
                <img src="./assets/images/equipo_amet.jpg" alt="Equipo Amet" class="col-s-12 col-d-12">
            </div>
        </div>
        <div class="grid col-s-5 col-d-5 col-m-12">
            <div class="grid-row">
                <h1 class="col-s-12 col-d-12">Feria de Productores</h1>
            </div>
            <div class="grid-row">
                <img src="./assets/images/feria_productores.jpg" alt="Eq. Amet en la Feria" class="col-s-12 col-d-12">
            </div>
            <div class="grid-row">
                <p class="col-s-12 col-d-12">Club de Leones, GDL, JAL</p>
            </div>
        </div>
    </div>
</div>