<div class="grid">
    <div class="grid-row" >
        <div class="col-s-12 table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th scope="col">Platillo</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Costo</th>
                  </tr>
                </thead>
                <tbody *ngIf="menu.length > 0 else NoDishes">
                  <tr *ngFor="let dish of menu"dish>
                    <td>{{dish.name}}</td>
                    <td>{{dish.description}}</td>
                    <td>${{dish.price}}.00 MXN</td>
                    <td><button class="btn btn-success"><i class="fas fa-cart-plus"></i></button></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>


<ng-template #NoDishes>
    <div class="grid-row">
        <div class="col-s-3">
            <p><b>No hay platillos en registro</b></p>
        </div>
    </div>
</ng-template>