@import '../../../styles/sass/variables';
@import '../../../styles/sass/mixins';

label {
    margin: .1em;
}

.grid-row {
    padding-top: .25em;
}

.loginButton {
    background-color: $accent-color;
    color: white;
}

@each $device, $pixels in $devices {
    @media (max-width: $pixels) {
        @if $pixels > 480px {
            .grid-row {
                display: flex;
            }
        } @else {
            .grid-row {
                display: initial;
            }
        }
    }
}

.ng-invalid.ng-dirty {
    border-color: red;
}