<div class="grid">
  <div class="grid-row">
    <div class="grid col-8">
      <div class="grid-row">
        <div class="col-12">
          <h3>Regístrate</h3>
        </div>
      </div>
      <div class="grid-row">
        <div class="col-6">
          <label for="name">Nombre:</label>
          <input type="text" name="name" id="inputName" placeholder="Nombre">
        </div>
        <div class="col-6">
          <label for="name">Apellido:</label>
          <input type="text" name="lastname" id="inputLastname" placeholder="Apellido">
        </div>
      </div>
      <div class="grid-row">
        <div class="col-6">
          <label for="name">Email:</label>
          <input type="email" name="email" id="inputEmail" placeholder="Correo">
        </div>
        <div class="col-6">
          <label for="telephone">Teléfono:</label>
          <input type="number" name="telephone" id="inputTel" placeholder="Teléfono">
        </div>
      </div>

    </div>
    <hr class="verticalHr">
    <div class="grid col-3">
      <div class="grid-row">
        <div class="col-12">
          <h3>Inicia Sesión</h3>
        </div>
      </div>
      <div class="grid-row">
        <div class="col-12">
          <p>¿Ya tienes cuenta?</p>
        </div>
      </div>
      <div class="grid-row">
        <div class="col-12">
          <a href="/login">¡Inicia Sesión!</a>
        </div>
      </div>
    </div>
  </div>
</div>