<div class="grid">
  <div class="grid-row">
    <form class="grid col-8" method="POST">
      <div class="grid-row">
        <div class="col-12">
          <h3>Regístrate</h3>
        </div>
      </div>
      <div class="grid-row">
        <div class="col-d-6 col-l-6 col-t-6 col-m-12">
          <label for="name">Nombre(s):</label>
          <input type="text" name="name" id="inputName" placeholder="Nombre" class="form-control">
        </div>
        <div class="col-d-6 col-l-6 col-t-6 col-m-12">
          <label for="lastname">Apellido(s):</label>
          <input type="text" name="lastname" id="inputLastname" placeholder="Apellido" class="form-control">
        </div>
      </div>
      <div class="grid-row">
        <div class="col-d-6 col-l-6 col-t-6 col-m-12">
          <label for="email">Email:</label>
          <input type="email" name="email" id="inputEmail" placeholder="Correo" class="form-control">
        </div>
        <div class="col-d-6 col-l-6 col-t-6 col-m-12">
          <label for="telephone">Teléfono:</label>
          <input type="number" name="telephone" id="inputTel" placeholder="Teléfono" class="form-control">
        </div>
      </div>
      <div class="grid-row">
        <div class="col-d-6 col-l-6 col-t-6 col-m-12">
          <label for="password">Contraseña:</label>
          <input type="password" name="password" id="inputPassword" placeholder="Contraseña" class="form-control">
        </div>
        <div class="col-d-6 col-l-6 col-t-6 col-m-12">
          <label for="confirmPswd">Confirmar Contraseña:</label>
          <input type="password" name="confirmPswd" id="inputConfirmPswd" placeholder="Confirmar Contraseña" class="form-control">
        </div>
      </div>
      <div class="grid-row">
        <div class="col-d-5 col-m-12">
          <button class="btn loginButton">Login</button>
        </div>
        <div class="col-d-1 col-m-12">
          <p>O</p>
        </div>
        <div class="col-d-6 col-m-12">
          <input type="image" src="./assets/images/btn_google_signin_light_normal_web.png" alt="Sign In With Google" formenctype="multipart/form-data">
        </div>
      </div>
    </form>
    <div *ngIf="isMobile else verticalHR">
      <hr>
    </div>
    <div class="grid col-d-3 col-m-12">
      <div class="grid-row">
        <div class="col-12">
          <h3>Inicia Sesión</h3>
        </div>
      </div>
      <div class="grid-row">
        <div class="col-12">
          <p>¿Ya tienes cuenta?</p>
        </div>
      </div>
      <div class="grid-row">
        <div class="col-12">
          <a href="/login">¡Inicia Sesión!</a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #verticalHR>
  <hr class="verticalHr">
</ng-template>