<div class="grid">
  <div class="grid-row">
    <div class="col-s-12 table-responsive">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Platillo</th>
            <th scope="col">Presentación</th>
            <th scope="col">Unidad de Medida</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody *ngIf="ingredients.length > 0 else NoIngredients">
          <tr *ngFor="let ingredient of ingredients">
            <td>{{ingredient.name}}</td>
            <td>
              <select class="dropdown" name="flavour" id="ingredientFlavor" *ngIf="ingredient.presentation.length > 0">
                <option *ngFor="let presentation of ingredient.presentation" name="presentation"
                  value="{{presentation}}">{{presentation}}</option>
              </select>
            </td>
            <td>
              <select name="price" id="ingredientPrice" (change)="chosenMeasurement($event)" class="dropdown">
                <option value="0">Elige Cantidad</option>
                <option value="{{ingredient.price.quarter}}">1/4 Kilo</option>
                <option value="{{ingredient.price.half}}">1/2 Kilo</option>
                <option value="{{ingredient.price.kilo}}">1 Kilo</option>
              </select></td>
            <td><input type="number" name="quantity" id="" min="1" max="3" (change)="changedQuantity($event)"></td>
            <td>${{quantityOption * measurementOption}}.00 MXN</td>
            <td><button class="btn btn-success"><i class="fas fa-cart-plus"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #NoIngredients>
  <tr>
    <td>No se encontraron insumos</td>
  </tr>
</ng-template>
